.navContainer{
    background-color:whitesmoke
}
.selected{
     color: rgb(88, 148, 130);
    font-size:25px;
    padding:2%;
 text-decoration: none;
}
.unselected{
     color: rgb(10, 77, 60);
    font-size:20px ;
    padding:2%;
    text-decoration: none;
}
.title{
    width:100vw;
    margin-left:1%;
 
}
.title a{
   text-decoration: none;
}