.link{
    color:cadetblue;
    text-decoration: none;
    font-size: 20px;
    padding:10px
}
.courseContainer{ 
    display:flex;
    text-align: center;
    padding:2%;
    background-color: rgb(240, 232, 232);
 
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
 
}
.heading{
    color:rgb(16, 101, 104);
    display:flex;
    flex-direction: column;
}
@media only screen and (max-width: 768px){
    .courseContainer,.links{
         display:flex;
        flex-direction: column;
    }
    .heading{
        font-size: medium;
        padding:2%
    }
}